<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elearningapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.educationalApp.Coding_practice_websites"></activity>
        <activity android:name="com.example.educationalApp.Job_Opportunities" />
        <activity android:name="com.example.educationalApp.Some_Cool_Stuffs" />
        <activity android:name="com.example.educationalApp.Fourth_Year" />
        <activity android:name="com.example.educationalApp.Third_Year" />
        <activity android:name="com.example.educationalApp.Second_Year" />
        <activity android:name="com.example.educationalApp.First_Year" />
        <activity android:name="com.example.educationalApp.FreeCourses" />
        <activity android:name="com.example.educationalApp.JavaScript" />
        <activity android:name="com.example.educationalApp.Kotlin" />
        <activity android:name="com.example.educationalApp.GitGitHub" />
        <activity android:name="com.example.educationalApp.MachineLearning" />
        <activity android:name="com.example.educationalApp.CollegeRoadmap" />
        <activity android:name="com.example.educationalApp.DataScience" />
        <activity android:name="com.example.educationalApp.CProgramming" />
        <activity android:name="com.example.educationalApp.CP" />
        <activity android:name="com.example.educationalApp.Dsa" />
        <activity android:name="com.example.educationalApp.Login" />
        <activity android:name=".FreeCourses" />
        <activity android:name=".EngSubs" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".webdevelopment" />
        <activity android:name=".androiddevelopment" />
        <activity android:name="com.example.educationalApp.python" />
        <activity android:name="com.example.educationalApp.java" />
        <activity android:name=".ccpppage" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
    </application>

</manifest>